- title "#{APP_CONFIG[:name]}"

%table
  %tr
    %th Title
    %th Rating
    %th Date added
  = will_paginate @games
  - for game in @games
    %tr
      %td= h game.title
      %td= h game.rating
      %td
        = game.created_at.to_s(:datetime)
        by
        - if game.user.username == current_user.username
          me
        - else
          = h game.user.username

%p= link_to "New Game", new_game_path
