<% content_for :subtitle do %>
...with a name .com hipsters love!
<% end %>

<div id="center-content">
  <h2 id="table-title">All the World's Articles</h2>
  
  <span id="new-article"><%= link_to 'New article', new_article_path %></span>
  
  <div id="table-wrapper">
    <%= will_paginate @articles %>
    <table>
      <thead>
        <tr id="table-head">
          <th>Title</th>
          <th>Author name</th>
          <th>Body</th>
          <th class="align-center">Creation date</th>
          <th class="icon" colspan="3">&nbsp;</th>
        </tr>
      </thead>
    
      <tbody id="table-body">
        <% @articles.each do |article| %>
          <tr>
            <td><%=h truncate(article.title, :length => 20) %></td>
            <td><%=h article.author %></td>
            <td><%= truncate(article.body, :length => 80) %></td>
            <td><%= article.created_at.to_s(:short) %></td>
            <td class="icon"><%= link_to image_tag("show.png", :border=>0, :title=>"show"), article %></td>
            <td class="icon"><%= link_to image_tag("edit.png", :border=>0, :title=>"edit"), edit_article_path(article) %></td>
            <td class="icon"><%= link_to image_tag("destroy.png", :border=>0, :title=>"destroy"), article, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @articles %>
  </div>
  
  <div id="article-count"><%= pluralize(Article.count, 'article', 'articles') %>.</div>
</div>